page-extrato {

    .cabecalho{
        background-color: lightslategray;
        border-radius: 10px;
        border: 10rem;
        color: white;
    }

    .colunas{
        background-color: lightsteelblue;
        border: solid 1px grey;
        border-color: white;
        border-radius: 5px;
        flex-direction: row;
    }
    // .header .col {
    //     background-color:lightgrey;
    // }
    
    // .col {
    //     border: solid 1px grey;
    //     border-bottom-style: none;
    //     border-right-style: none;
    // }
    
    // .col:last-child {
    //     border-right: solid 1px grey;
    // }
    
    // .row:last-child .col {
    //     border-bottom: solid 1px grey;
    // }
}
