<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
    <div ion-item block no-lines class="transparent" no-padding>
        <div *ngIf="loja" class="item-note" item-start>Extrato</div>
      <ion-icon name="ribbon" item-end></ion-icon>
      <div *ngIf="loja" class="item-note" item-end>{{loja.loja}}</div>
    </div>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div padding>
    <button ion-item block color="light" no-padding>
      <div class="item-note" padding-left item-start>{{loja.loja}}</div>
      <div class="item-note" item-end>{{loja.pontos}}</div>
      <ion-icon name="star" item-end></ion-icon>
    </button> 
  </div>
  <div class="row header">
      <div class="col">Data</div>
      <div class="col">Ganho</div>
      <div class="col">Usado</div>
      <div class="col">Tipo</div>
      <div class="col">Saldo</div>
  </div>
  <div class="row" *ngFor="let ext of extratos">
      <div class="col">{{ext.data}}</div>
      <div class="col">{{ext.ganho}}</div>
      <div class="col">{{ext.usado}}</div>
      <div class="col">{{ext.saldo}}</div>
      <div class="col">{{ext.tipo}}</div>
  </div>
</ion-content>

<!-- ngx-datatable http://masteringionic.com/blog/2018-02-13-implementing-angular-data-tables-in-an-ionic-application/ -->
<!-- ion-select https://www.tutorialspoint.com/ionic/ionic_select.htm -->