<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div ion-item block no-lines class="transparent">
      <ion-icon name="person" item-end></ion-icon>
      <div *ngIf="user" class="item-note" item-end>{{user.nome}}</div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <div *ngFor="let item of lista" padding>
      <button ion-item block color="light" no-padding>
        <div class="item-note" padding-left item-start>{{item.loja}}</div>
        <div class="item-note" item-end>{{item.pontos}}</div>
        <ion-icon name="star" item-end></ion-icon>
      </button> 
    </div>
  </ion-list>
</ion-content>
