<ion-header>

  <ion-navbar>
    <ion-title>Adicionar ou Remover Pontos</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <h3 *ngIf="fidelidade">{{fidelidade.nome}}</h3>
  <p  *ngIf="fidelidade">Pontos: {{fidelidade.pontos}}</p>
  <ion-grid>
    <ion-row>
      <ion-col col-2>Ação: </ion-col>
      <ion-col col-3>Adicionar</ion-col>
      <ion-col col-2><ion-checkbox [(ngModel)]="add" (ionChange)="updateAdd()"></ion-checkbox></ion-col>
      <ion-col col-3>Remover</ion-col>
      <ion-col col-2><ion-checkbox [(ngModel)]="rem" (ionChange)="updateRem()"></ion-checkbox></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
