<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Gerenciar Pontos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>Adicionar ou Remover Pontos</h3>
  <ion-item>
    <ion-label>Franquias</ion-label>
    <!-- <ion-select (ionChange)="teste($event);"> -->
      <ion-select (ionChange)="setLojasValues(franquia)" [(ngModel)]="franquia">
      <ion-option [value]="franquia" *ngFor="let franquia of franquias">{{franquia.franquia}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Lojas</ion-label>
      <!-- <ion-select (ionChange)="teste($event);"> -->
      <ion-select (ionChange)="setFidelidadeList(loja)" [(ngModel)]="loja">
      <ion-option [value]="loja" *ngFor="let loja of selectedLojas">{{loja.loja}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-grid>
    <ion-row class="cabecalho" text-center>
      <ion-col>Nome</ion-col>
      <ion-col>Email</ion-col>
      <ion-col>CPF</ion-col>
      <ion-col>Pontos</ion-col>
      <ion-col>Ação</ion-col>
    </ion-row>
    <ion-row *ngFor="let fidel of fidelidades" class="forecast_container">
      <ion-col class="colunas">{{fidel.nome}}</ion-col>
      <ion-col class="colunas" text-center>{{fidel.email}}</ion-col>
      <ion-col class="colunas" text-center>{{fidel.cpf}}</ion-col>
      <ion-col class="colunas" text-center>{{fidel.pontos}}</ion-col>
      <ion-col class="colunas" text-center>+/-</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
